body {
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(26,44,63,1) 0%, rgba(25,121,169,1) 100%);
    max-width: 1800px;
    margin: auto;
}

h1, h2, p, button, label, .ziehungen, input { font-family: "Arial Black";}

td, input, h1 { text-align: center;}

label, h1, a, h2 {color: white;}

h1 { font-size: 60px;}

*:focus { outline: 0 !important;}

button { cursor:pointer;}

.footer {
    padding: 5px;
    background-color: #1a2c3f;
    color: white;
    text-align: center;
}

.plate {
    background: #1979a9;
    padding: 20px;
    margin: 0 auto 40px;
    -webkit-box-shadow: 5px 5px 9px -1px #1a2c3f;
    box-shadow: 5px 5px 9px -1px #1a2c3f;
    max-width: 1000px;
}

#wrapper1 {
    display: grid;
    grid-template-columns:repeat(7, 1fr);
    margin-bottom: -20px;
}

#swiss_euro_settings {
    margin: 0 auto 20px;
    max-width: 1000px;
    padding: 20px;
}

#euro_settings {
    display:none;
}

fieldset {
    border-width: 0;
}

#zahl1 { grid-column: 1;}

#zahl2 { grid-column: 2;}

#zahl3 { grid-column: 3;}

#zahl4 { grid-column: 4;}

#zahl5 { grid-column: 5;}

#zahl6 { grid-column: 6;}

#zahl7 {
    margin-left: 10px;
    grid-column: 7;
}

#box7 { background: yellow;}

.zahl { grid-row:2;}

.box {
    font-size: 30px;
    text-align: center;
    background: white;
    color: #1979a9;
}

#tab { color: #1a2c3f;}

#autoscroll { overflow: auto;}

.ziehungen {
    background: #DB5353;
    color: white;
    padding: 10px;
    font-size: 30px;
    margin-bottom: 40px;
}

#glueck_mi { margin-top: 20px;}

#wrap3, #wrap1 {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    margin-bottom: -20px;
}

#lotto_numbers_sa, #lotto_numbers_mi {
    grid-column: 1;
}

#tab_plate3, #tab_plate1 {
    grid-column: 2;
}

/* ------------------ buttons ------------------ */

#swiss_euro_buttons {
    transform: scale(0.5);
    transform-origin: left;
}

#swiss { margin-right: 40px;}

#euromill { margin-top: 20px;}


#the_big_button {
    background: white;
    border: #DB5353 solid 10px;
    padding: 5px;
    font-size: 20px;
    color: #DB5353;
    border-radius: 14px;
    display: block;
    margin: 0 auto 10px;
}

#the_big_button:hover, #euromill:hover, #swiss:hover {
    transform: scale(1.05);
}

#eintragen_mi, #eintragen_sa {
    background: white;
    border: #DB5353 solid 10px;
    padding: 10px;
    font-size: 14px;
    color: #DB5353;
    border-radius: 14px;
    display: block;
    margin-bottom: 40px;
}

#eintragen_mi:hover, #eintragen_sa:hover {
    transform: scale(1.05);
}

#Glueckszahl {
    margin-left: 20px;
    margin-right: 20px;
    background: yellow;
}

.Lottozahl{
    border-width: 0;
    color: #1979a9;
    max-width: 50px;
    margin-bottom: 20px;
}

#datepicker {
    margin-bottom: 20px;
    border-width: 0;
    color: #1979a9;
}


/* ------------------ @media ------------------ */

@media (max-width: 800px) {
    #the_big_button {
        transform: scale(0.6);
    }
    #the_big_button:hover {
        transform: scale(0.61);
    }
    .box {
        font-size: 35px;
    }

    h1 {
        font-size: 30px;
    }
}

@media (min-width: 1800px) {
    #wrapper2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #plate0 {
        max-width: 1000px;
        margin: 0 auto 40px;
    }

    #plate1 {
        grid-column: 1;
        grid-row: 1;
        margin-left: -5px;
    }

    #plate2 {
        grid-column: 2;
        grid-row: 1;
        margin-left: 10px;
    }

    #plate3 {
        grid-column: 1;
        grid-row: 2;
        margin-left: -5px;
    }

    #plate4 {
        grid-column: 2;
        grid-row: 2;
        margin-left: 10px;
    }
}
